{% from 'form_helper.html' import displayField, displayTable %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashstylesheet.css') }}">
{% endblock %}
{% block content %}
<div id=header>
  <h1>POLICE DEPARTMENT</h1>
</div>
<div id=container>
<div id=nav>
<center>

  <!-- Only change the 'This is navigation' to the name of the feature -->

  <a href='{{url_for('Table')}}'> Show Tables</a>
  <a href='{{ url_for('validate') }}'>Security Clearance</a>
  <a href='{{ url_for('Attr') }}'>Create New Table</a>

</center>
</div>
<div id=info>
    {% if c==1 %}
        <h3>Show Information </h3>
        <div id=center>
    		<form action="{{ url_for('Table') }}", method="POST">
                <label for="T_name">Choose Table:</label><br>
    			{{ form.T_name(class='form-control') }}
                <br>
    			{{ form.submit_button }}
                <br>
    			{{ form.csrf_token }}
    		</form>
    	</div>
    {% endif %}
    {% if c==2 %}
        <center><h3>Show Data</h3></center>
        <!-- This is for User Table-->

        <div>
            {{ displayTable(data,head) }}
        </div>
    {% endif %}
</div>
</div>
{% endblock %}
