{% from 'form_helper.html' import displayField, displayTable %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashstylesheet.css') }}">
{% endblock %}
{% block content %}
<div id=header>
  <h1>POLICE DEPARTMENT</h1>
</div>
<div id=container>
<div id=nav>
<center>

  <!-- Only change the 'This is navigation' to the name of the feature -->

  <a href='{{ url_for('showcriminals') }}'>Criminal</a>
  <a href='{{url_for('Table')}}'>Tables</a>
  <a href='{{ url_for('validate') }}'>Security Clearance</a>
 
</center>
</div>
<div id=info>
    <center><h3>Show Data</h3></center>
    <!-- This is for User Table-->

    <div>
        {{ displayTable(data,head) }}
    </div>

    <!-- This is for criminal -->
    <!--{% if c==3 %}
        <!--<table>
               <tr><th> Criminal: </th></tr>
               <tr style="color: black; ">
               <th>Criminal_id</th>
               <th>Name</th>
               <th>Age</th>
               <th>Nationality</th>
               <th>NID NO</th>
               <th>Motive</th>
               <th>Phone No</th>
               <th>Address</th>

               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
               {{data.Name}}
           </td>
           <td>
               {{data.Age}}
           </td>
           <td>
               {{data.Nationality}}
           </td>
           <td>
               {{data.NID_No}}
           </td>
           <td>
               {{data.Motive}}
           </td>
           <td>
               {{data.Phone_No}}
           </td>
           <td>
               {{data.Address}}
           </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}-->
    <!-- This is for crime -->
    <!--{% if c==4 %}
        <!--<table>
              <tr><th> Crime: </th></tr>
               <tr style="color: black; ">
               <th>Case_No</th>
               <th>Crime Date</th>
               <th>End Date</th>
               <th>Address</th>
               <th>Clearance</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
               {{data.Crime_date}}
           </td>
           <td>
               {{data.End_date}}
           </td>
           <td>
               {{data.Address}}
           </td>
           <td>
               {{data.Clearance}}
           </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!-- This is for crime_evidence ######## -->
    <!--{% if c==5 %}
        <table>
               <tr><th> Crime Evidence: </th></tr>
               <tr style="color: black; ">
               <th>Case_No</th>
               <th>Description</th>
               <th>Collection Date</th>
               <th>Address</th>
               <th>Location</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
               {{data.Description}}
           </td>
           <td>
               {{data.Collection_date}}
           </td>
           <td>
               {{data.location}}
           </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!-- This is for mueder -->
    <!--{% if c==6 %}
        <table>
               <tr><th> Murder: </th></tr>
               <tr style="color: black; ">
               <th>Case_No</th>
               <th>Murder Type</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
               {{data.Murder_type}}
           </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!-- This is for Fraud -->
    <!--{% if c==7 %}
        <table>
              <tr><th> Fraud: </th></tr>
               <tr style="color: black; ">
               <th>Case_No</th>
               <th>Amount</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
               {{data.Amount}}
           </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!-- This is for Drug Trafficking-->
    <!--{% if c==8 %}
        <table>
            <tr><th> Drug Trafficking: </th></tr>
               <tr style="color: black; ">

               <th>Case_No</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>

           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!-- This is for Drugs-->

    <!--{% if c==9 %}
        <table>
            <tr><th> Drugs: </th></tr>
               <tr style="color: black; ">

               <th>Case_No</th>
               <th> Drugs </th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
                {{data.Drug}}
             </td>

           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!--this is for Human Trafficking-->

    <!--{% if c==10 %}
        <table>
            <tr><th> Human Trafficking: </th></tr>
               <tr style="color: black; ">

               <th>Case_No</th>
               <th> Destination </th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
            <td>
                {{data.Destination}}
             </td>

           </tr>
           {%endfor%}
        </table>
    {% endif %}


    <!--this is for Rape-->

    <!--{% if c==11 %}
        <table>
            <tr><th> Rape: </th></tr>
               <tr style="color: black; ">

               <th>Case_No</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}


    <!--this is for Criminal Remark-->
    <!--{% if c==12 %}
        <table>
            <tr><th> Criminal Remark: </th></tr>
               <tr style="color: black; ">

               <th>Criminal ID</th>
               <th>Remark</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
                {{data.Remark}}
             </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!--this is for Medical history-->
    <!--{% if c==13 %}
        <table>
            <tr><th> Mediacl History: </th></tr>
               <tr style="color: black; ">

               <th>Criminal ID</th>
               <th>Criminal Name</th>
               <th>Doctor Name</th>
               <th>Doctor No</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
                {{data.Criminal_name}}
             </td>
             <td>
                 {{data.Doctor_name}}
              </td>
              <td>
                  {{data.Doctor_No}}
               </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!--this is for Criminal diseases-->
    <!--{% if c==14 %}
        <table>
            <tr><th> Criminal Diseases: </th></tr>
               <tr style="color: black; ">

               <th>Criminal ID</th>
               <th>Criminal Name</th>
               <th>Disease</th>

               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
                {{data.Criminal_name}}
             </td>
             <td>
                 {{data.Disease}}
              </td>

           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!--this is for Criminal disability-->
    <!--{% if c==15 %}
        <table>
            <tr><th> Criminal Disability: </th></tr>
               <tr style="color: black; ">

               <th>Criminal ID</th>
               <th>Criminal Name</th>
               <th>Disability</th>

               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
                {{data.Criminal_name}}
             </td>
             <td>
                 {{data.Disability}}
              </td>

           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!--this is for Caught By-->
    <!--{% if c==16 %}
        <table>
            <tr><th> Caught By: </th></tr>
               <tr style="color: black; ">

               <th>Officer ID</th>
               <th>Criminal ID</th>
               <th>Start Date</th>
               <th>End Date</th>
               </tr>
           {%for data in query%}
           <tr>
            <td>
                {{data.Officer_id}}
            </td>
           <td>
               {{data.Criminal_id}}
            </td>
            <td>
                {{data.Start_date}}
             </td>
             <td>
                 {{data.End_date}}
              </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!--this is for Investigated By-->
    <!--{% if c==17 %}
        <table>
            <tr><th> Investigate By: </th></tr>
               <tr style="color: black; ">

               <th>Officer ID</th>
               <th>Case No</th>

               </tr>
           {%for data in query%}
           <tr>
            <td>
                {{data.Officer_id}}
            </td>
           <td>
               {{data.Case_No}}
            </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}

    <!--this is for Committed_by-->
    <!--{% if c==18 %}
        <table>
            <tr><th> Committed By: </th></tr>
               <tr style="color: black; ">

               <th>Criminal ID</th>
               <th>Case No</th>

               </tr>
           {%for data in query%}
           <tr>
            <td>
                {{data.Criminal_id}}
            </td>
           <td>
               {{data.Case_No}}
            </td>
           </tr>
           {%endfor%}
        </table>
    {% endif %}
    <!--this is for Victim-->
    <!--{% if c==19 %}
        <table>
            <tr><th> Victim: </th></tr>
               <tr style="color: black; ">
               <th>Case No</th>
               <th>Name</th>
               <th>Age</th>
               <th>Phone No</th>
               <th>Address</th>

               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>

            <td>
                {{data.Name}}
            </td>
            <td>
                {{data.Age}}
            </td>
            <td>
                {{data.Phone_No}}
            </td>
            <td>
                {{data.Address}}
            </td>
           </tr>
           {%endfor%}
           </table>
            {% endif%}
           <!--this is for Witness-->
          <!-- {% if c==20 %}
               <table>
                   <tr><th> Witness: </th></tr>
                      <tr style="color: black; ">
                      <th>Case No</th>
                      <th>Name</th>
                      <th>Age</th>
                      <th>Phone No</th>
                      <th>Address</th>

                      </tr>
                  {%for data in query%}
                  <tr>
                  <td>
                      {{data.Case_No}}
                   </td>

                   <td>
                       {{data.Name}}
                   </td>
                   <td>
                       {{data.Age}}
                   </td>
                   <td>
                       {{data.Phone_No}}
                   </td>
                   <td>
                       {{data.Address}}
                   </td>
                  </tr>
                  {%endfor%}

        </table>
    {% endif %}
    <!--this is for Witnessed@@@-->
    <!--{% if c==21 %}
        <table>
            <tr><th> Witnessed: </th></tr>
               <tr style="color: black; ">
               <th>Case No</th>
               <th>Name</th>
               </tr>
           {%for data in query%}
           <tr>
           <td>
               {{data.Case_No}}
            </td>

            <td>
                {{data.Name}}
            </td>
           </tr>
           {%endfor%}
           </table>
           {%endif%}


           <!--this is for victimized@@@@-->
         <!--{% if c==22 %}
               <table>
                   <tr><th> Victimizes: </th></tr>
                      <tr style="color: black; ">
                      <th>Case No</th>
                      <th>Name</th>
                      </tr>
                  {%for data in query%}
                  <tr>
                  <td>
                      {{data.Case_No}}
                   </td>

                   <td>
                       {{data.Name}}
                   </td>
                  </tr>
                  {%endfor%}

 </table>
{% endif %}-->
</div>
</div>
{% endblock %}
