{% from 'form_helper.html' import displayField %}

{% extends "prelogin-layout.html" %}

{% block metadata %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles/default.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/dashstylesheet.css') }}">
{% endblock %}
{% block content %}
<div id=header>
  <h1>POLICE DEPARTMENT</h1>
</div>
<div id=container>
<div id=nav>
<center>

  <!-- Only change the 'This is navigation' to the name of the feature -->

  <a href='{{url_for('Table')}}'> Show Tables</a>
  <a href='{{ url_for('validate') }}'>Security Clearance</a>
  <a href='{{ url_for('Attr') }}'>Create New Table</a>
</center>
</div>
<div id=info>
    <center><h3>Show Data</h3></center>
    <div id=center>
		<form action="{{ url_for('showofficer') }}", method="POST">

			<center>{{ displayField(form.Officer_id,'Enter Officer_id',autocomplete='off',autofocus=true) }}</center>
			<center>{{ form.submit_button }}</center><br>
			{{ form.csrf_token }}
		</form>
	</div>


</div>
</div>
{% endblock %}
